:root {
  --color-primary: #ca3d26;
  --color-secondary: #fff;
  --color-heading: #1e1e1f;
  --color-body: #4a4d4f;
}

*,
*::after,
*::before {
  box-sizing: border-box;

}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  margin: 2rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2rem;
  line-height: 1.5;


}

h1,
h2 {
  color: var(--color-primary);
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;

}

h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.5rem;

}

h3 {
  color: var(--color-heading);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
  margin: 1rem;

}

p {
  margin: 0;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 9rem;

  }

  h2 {
    font-size: 6rem;
  }
}


/* Links */

a {
  text-decoration: none;
  color: var(--color-primary);

}

a:hover,
a:focus {
  color: #ff5e46;
}

/* Lists */
.list {
  list-style: none;
}

.list--dash {
  list-style: '-  ';
}

.list--nav {
  display: flex;

}

.list--nav .list__item {
  padding: 4rem;
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .15s ease-out;
  font-size: 1.6rem;
  letter-spacing: 2px;
}


.list--nav .list__item:hover {
  color: var(--color-primary);
  border-top: 2px solid var(--color-primary);

}

.list--nav .fab,
.fas {
  padding: .5rem 3rem;
}

/* Icons */

.fab,
.fas {
  color: var(--color-secondary);
  width: 40px;
  height: 40px;
  transition: color .15s;
}

.fab:hover,
.fas:hover {
  color: var(--color-primary);
}

/* Buttons */


.btn {
  color: var(--color-secondary);
  padding: 1.5rem 4rem;
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all .2s ease-out;

}

.btn:hover {
  background-color: #ff5e46;
}

.btn--outline {
  letter-spacing: 8px;
  background: none;
  border: 1px solid var(--color-secondary);


}

.btn--outline:hover {
  border: 1px solid #ff5e46
}

.btn--order {
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

}

.btn--order:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.btn--small {
  padding: 1rem 1.5rem;
}

.btn--menu {
  background: none;
  border: 1px solid var(--color-body);
  color: var(--color-body);
}

.btn--menu:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.btn--book {
  background: var(--color-secondary);
  color: var(--color-primary);
  padding: 1.5rem 5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* Card */
.card__header img {
  width: 100%;
}

.card__body {
  padding: 1rem;
  text-align: center;

}

/* Story */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.story__background {
  width: 100%;
  object-fit: cover;

}

.story__body::first-letter {
  float: left;
  font-size: 10rem;
  padding-top: 1.2rem;
  padding-right: 1.2rem;
}

.story__body {
  margin: 0 2rem;
}

.story__heading {
  text-align: center;
}

.story__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story__content img {
  margin-top: 4rem;
  width: 200px;
}

.story__background {
  position: relative;
  bottom: 40px;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .story__body {
    columns: 2;
    column-gap: 4rem;
  }

  .story__content img {
    margin-top: 6rem;
    width: 250px;
  }

  .story__background {
    position: relative;
    bottom: 100px;
    z-index: -1;
  }
}

/* Book table */
.book__heading {
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  color: var(--color-secondary);
  letter-spacing: 4px;
  margin: 0;

}

.book-table {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/images/promo_slide_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


}

.book-table .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

}

/* Zig zag border */


.zig-zag::after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 20px 25px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 25px;

}

.zig-zag::before {
  background: linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 20px 25px;
  content: " ";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
}